.krub-regular {
    font-family: "Krub", serif;
    font-weight: 400;
    font-style: normal;
  }
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: "Krub";
}


.titulo {
    text-align: center;
    font-size: 3.8rem;
}
.titulo span {
    font-size: 2.3rem;
}


.nav-bckg {
    background-color: var(--secundario);
}
.nav-bckg a {
    padding: 1rem;
}
.nav-bckg a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
.navegacion-principal {
    margin: auto;
    width: 120rem;
    display: flex;
    justify-content:space-evenly;
}
.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-weight: 800;
}